.form {
  width: 320px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
}

.input {
  border: none;
  border-radius: 8px;

  background-color: lightyellow;
  padding: 8px 12px;
  font-size: 0.8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  @media (min-width: 768px) {
    padding: 8px 12px;
    font-size: 1.2rem;
  }
}

.btn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;

  width: 100%;
  margin-top: 5px;
  padding: 8px 0;
  background-color: #f9ef8e;
  border: 1px solid gray;
  border-radius: 8px;
}

.errorMsg {
  margin-top: 20px;
  text-align: center;
  color: red;
}
