.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #2a363b;
  @media (max-width: 767px) {
    font-size: 12px;
  }
}

.activeLink {
  color: #e84a5f;
  text-decoration: none;
}

.nav {
  display: flex;
  align-items: center;
}
