.formWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.fieldWrapper {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 5px;
  background-color: lightcyan;
}

.inputLabel {
  display: flex;
  font-weight: 600;
  margin-top: 0px;
  margin-left: 0px;
}

.inputField {
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 5px 5px;
  margin-top: 8px;
  background-color: lightyellow;
}

.oldName {
  display: block;
  color: gray;
  letter-spacing: 1px;
  font-size: 12px;
  margin-left: auto;
  margin-right: 4px;
}

.yearWrapper {
  display: flex;
  gap: 8px;
}

.item {
  display: flex;
  align-items: center;
  /* align-items: flex-end; */
  justify-content: space-between;
  padding: 4px;
  border: 1px solid #2a2a2a;
  border-radius: 4px;
}

.yearfield {
  width: 100%;
}

.originalName {
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn {
  margin-top: 5px;
  padding: 8px 0;
  background-color: #f9ef8e;
  border: 1px solid gray;
  border-radius: 8px;
}

.btnCancel {
  margin-top: 5px;
  padding: 8px 0;
  background-color: lightcoral;
  border: 1px solid gray;
  border-radius: 8px;
}
