.loader {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.container {
  /* min-height: calc(100vh - 50px); */
  display: "flex";
  align-items: "center";
  justify-content: "center";
  flex-direction: column;
  min-height: 100vh;
}

.title {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.img {
  background-image: url("../assets/bg-image.jpg");
  background-size: cover; /* Обеспечивает покрытие всего элемента */
  background-position: center; /* Центрирование изображения */
  background-repeat: no-repeat; /* Отключает повторение изображения */
  width: 100%;
  height: 100vh; /* Высота 100% высоты видимого окна браузера */
  border-radius: 10px;
}

.text {
  margin-top: 0;
  text-align: center;
  padding: 0 20px 30px 15px;
  display: flex;
  justify-content: center;
  color: grey;
}

.createdBy {
  font-size: 10px;
  margin-top: 90%;
  margin-bottom: 10px;

  color: burlywood;
  text-align: center;
}

.clienCategoryWrapper {
  display: flex;
  justify-content: center;
  gap: 50px;

  @media (max-width: 768px) {
    gap: 20px;
  }
}
