.wrapper {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  /* justify-content: space-between; */
  gap: 8px;
  padding: 4px;
  border: 1px solid #2a2a2a;
  border-radius: 4px;
  /* background-color: lightgray; */
}

.text {
  margin-top: 0;
  margin-bottom: 0;
}

.button {
  border: none;
  font: inherit;
  cursor: pointer;
  outline: none;
  margin-left: auto;
  border-radius: 4px;
  padding: 8px 12px;
  background-color: #3f51b5;
  color: #fff;
}

.button:hover,
.button:focus {
  background-color: #303f9f;
}

.button:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.itemsList {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 0;
  width: 95%;
}

.item {
  margin: 5px 0;
  padding: 0;
  border-bottom: 1px solid grey;
  list-style: none;
}
.itemName {
  margin-right: 10px;
  margin-top: 5px;
}
.itemData {
  color: darkorange;
}

.editBtn {
  margin-left: auto;
  list-style: none;
  padding: 0;
}

/* .itemPriceWrapper {
  display: flex;
  justify-content: space-between;
} */

/* .dealerPriceWrapper {
  display: flex;
  justify-content: space-between;
} */

/* .dealerPrice {
  display: flex;
  justify-content: center;
  width: 90px;
  height: 18px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  color: red;
  margin-bottom: 4px;
  @media (max-width: 430px) {
    width: 70px;
  }
} */

/* .dealerPriceText {
  margin-top: 3px;
  font-size: 10px;
} */

/* .btnEditDealerPrice {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
} */

/* .svgWrapper {
  display: flex;
  justify-content: center;
  width: 50px;
  @media (max-width: 430px) {
    width: 25px;
  }
} */
