.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.username {
  font-weight: 700;
  @media (max-width: 767px) {
    display: none;
  }
}

.btn {
  border-radius: 5px;
  border: none;
  background-color: lightcoral;
  padding: 3px 5px;
  color: white;
}
